<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="">router-outlet</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" [routerLink]="['/home']" [routerLinkActive]="['activado']">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" [routerLink]="['/pagina2']" [routerLinkActive]="['activado']">Pagina2</a>
        <a class="nav-item nav-link" [routerLink]="['/mostrar']" [routerLinkActive]="['activado']">Mostrar</a>
        <a class="nav-item nav-link" [routerLink]="['/coches']" [routerLinkActive]="['activado']">Coches</a>
        <a class="nav-item nav-link" [routerLink]="['/plantillas']" [routerLinkActive]="['activado']">Plantillas</a>
        <a class="nav-item nav-link" [routerLink]="['/productos']" [routerLinkActive]="['activado']">Productos</a>
      </div>
    </div>
</nav>