<h4>{{titulo}}</h4>

<div *ngIf="administrador; then admin else noAdmin"></div>

<ng-template #admin>  
    <button type="button" class="btn btn-primary" (click)="cambiar(false)">Cambiar</button>
    <strong style="background: lightgreen;">Eres el administrador de la webapp</strong>
</ng-template>

<ng-template #noAdmin>
    <button type="button" class="btn btn-primary" (click)="cambiar(true)">Cambiar</button>
    <strong style="background: lightpink;">NO eres el administrador de la webapp</strong>
</ng-template>